.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.project-card {
    padding: 40px;
    border: 1px solid #dedede;
    border-radius: 10px;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.project-card:hover {
    transform: translateY(-4px);

    box-shadow:
        0 12px 30px rgba(0,0,0,0.08);
}

.project-number {
    font-size: 13px;
    color: #999;
}

.project-status {
    margin-top: 30px;

    font-size: 11px;
    font-weight: 700;

    letter-spacing: 1.5px;

    color: #777;
}

.project-card h3 {
    max-width: 750px;

    font-size: 30px;
    line-height: 1.2;

    margin: 5px 0 5px;
}

.project-organization {
    margin-top: 0;

    font-size: 14px;
    font-weight: 600;

    color: #777;
}

.project-card > p {
    max-width: 800px;
    color: #666;
}

.project-question {
    margin-top: 25px;

    padding: 18px 20px;

    background: #f6f7f8;

    border-left: 3px solid #17202a;

    color: #333 !important;
}

.private-project-note {
    margin-top: 25px;

    padding: 15px 18px;

    background: #f6f7f8;

    border-radius: 5px;

    font-size: 13px;
    font-style: italic;

    color: #777 !important;
}

.project-tags {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;

    gap: 7px;
}

.project-tags span {
    padding: 6px 10px;

    border-radius: 4px;

    background: #f1f1f1;

    font-size: 11px;
}
